# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Logs
*.log

# OS-spezifisch
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/